* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: hsl(205 300% 80% / 1);
}
/*Начало Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.logo {
  margin-left: 100px;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  box-shadow: 16px 8px 7px 4px rgba(0, 0, 0, 0.5);
}
.nav {
  margin-right: 100px;
  font-size: 22px;
}
.nav > a {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: black;
  text-decoration: none;
}
button {
  border-radius: 26px;
  background-color: #99d5ff;
}
.nav > a:hover {
  background-color: black;
  color: orange;
  transition: 1.5s;
}
/*Конец Header*/
/*Начало home*/
.home {
  height: 650px;

  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: top;
}
.home-blacout {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  color: white;
  text-align: center;
}
.home-btn {
  font-family: cursive;
  height: 70px;
  width: 200px;
  border: none;
  background-color: rgb(0, 137, 123);
  color: white;
  font-size: 25px;
  transition: 1.5s;
}

.home-btn:hover {
  background-color: inherit;
  border: 3px solid white;
}

/*Конец home*/

/*Начало About*/

.about {
  text-align: center;
}

.about-text {
  text-align: center;
}

.about-bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-item img {
  height: 200px;
  width: 200px;
}

.about-bot {
  display: flex;
  justify-content: space-around;
}
/*Конец About*/

/*Начало our*/

.our-text {
  text-align: center;
}

.our-bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.our-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-item img {
  height: 200px;
  width: 200px;
}

/* Dark theme below*/
body.dark {
  background-color: #515151;
}
body.dark .logo {
  background-color: rgb(255, 154, 1);
}
body.dark .home-content {
  color: orangered;
}

body.dark .nav > a {
  color: whitesmoke;
}

body.dark .nav a:hover {
  color: rgb(255, 154, 1);
}
.about.dark {
  color: #ff5722;
}
button.dark .nav {
  border-radius: 26px;
  background-color: #848484;
}
/* Mobile styles*/
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: unset;
  }
  .logo {
    margin: 0px;
    margin-left: 0px;
  }
  .switchMobileMenuButton {
    display: block;
  }
  .nav {
    margin-right: 0px;
    font-size: 20px;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 0;
    left: -100%;
    right: 100%;
    bottom: 0;
    justify-content: flex-start;
    transform: translate(0, 0);
    transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  }
  .nav.visible {
    transform: translate(100%, 0);
  }
  body.dark .nav {
    background-color: black;
  }
}
