.header
  .logo
    b MY LOGO
  button.btn.btn-info.switchMobileMenuButton(type='button' class=',')
    | &#x23E9;
  .nav
    button.btn.btn-info.switchMobileMenuButton(type='button' class=',')
      | &#x23EA; 
    a(href='index.html') home
    //
      <a href="">phone</a>
      <a href="">servicing</a>
      <a href="">portfolio</a>
      <a href="">blog</a>
      <a href="">about</a>
    a(href='contacts.html') contact
    

    button#switchThemeButton.btn.btn-dark(type='button')
      | &#x1F319;