html
  include ../parts/head.pug
  body
    include ../parts/header.pug
    .home
      .home-blacout
        .home-content
          h1 We will change our life beyond recognition!
          p Are you ready?
          button.btn.btn-info(type='button') I'm ready!
          button.btn.btn-info(type='button') Give me some time
          button.btn.btn-info(type='button') I'm fine so!
    .about
      h1 Our kitchens Are the best!
      p Try it yourself
      .about-bot
        .about-item
          img(src='img/help.svg')
          h1 Kitchen
          p We will help with the choice
        .about-item
          img(src='img/world.svg')
          h1 Kitchen
          p From anywhere in the world
        .about-item
          img(src='img/forAllPeople.svg')
          h1 Kitchen
          p For all people
    .our
      .our-text
        h1 Our Services
        p We have the best cuisines, see for yourself!
          
      .our-bot
        .our-item
          img(src='img/research.svg')
          h1 Kitchen
          p We will help with the choice
        .our-item
          img(src='img/portfolio.svg')
          h1 Kitchen
          p From anywhere in the world
        .our-item
          img(src='img/support.svg')
          h1 Kitchen
          p For all people
        .our-item
          img(src='img/documentation.svg')
          h1 Kitchen
          p For all people
        .our-item
          img(src='img/development.svg')
          h1 Kitchen
          p We will help with the choice
        .our-item
          img(src='img/design.svg')
          h1 Kitchen
          p We will help with the choice
    include ../parts/footer.pug

