img{
	width: 24%;
}

p{
	color: rgb(235, 116, 52);
	font-family: cursive;
	font-size: 24px;
}

h1{
	color: red;
	font-family: cursive;
	font-size: 20px;
}

div{
	width: 50%;
	margin:auto;
	background-color: rgb(101, 52, 235);
	padding: 50px;
	border-radius: 30px;
	border: 15px solid green;
}