body{
	background-color: rgb(255,255,0);
}
div{
	width: 50%;
	border:15px solid rgb(0,200,0);
	margin: auto;
	background-color: rgb(252,127,0);
	padding: 15px;
	border-radius: 13%;
}
img{
	width: 50%;
}
h1{
	text-align: center;
}
p{
	font-family: cursive;
}